<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.ckgl.mapper.CkglBcpMapper" >
    <select id="ajaxBcpList" resultType="cn.jeeweb.modules.ckgl.entity.CkglBcp">
        SELECT ID,
       JHBH,
			 LBJMC,
			 LBJTH,
			 RKSL,
			 SYRKSL,
              UPDATE_DATE
FROM T_CKGL_BCP
WHERE 1=1
     AND SFSWWCBCP = '0'
     AND SYRKSL &gt; '0'
        <if test="entity.jhbh!=null and entity.jhbh!=''">
            AND JHBH = #{entity.jhbh}
        </if>
        <if test="entity.lbjmc!=null and entity.lbjmc!=''">
            AND LBJMC LIKE "%"#{entity.lbjmc}"%"
        </if>
        <if test="entity.lbjth!=null and entity.lbjth!=''">
            AND LBJTH LIKE "%"#{entity.lbjth}"%"
        </if>
        ORDER BY UPDATE_DATE DESC
    </select>

    <select id="ajaxBcpList2" resultType="cn.jeeweb.modules.ckgl.entity.CkglBcp">
        SELECT ID,
        JHBH,
        LBJMC,
        LBJTH,
        RKSL
        FROM T_CKGL_BCP
        WHERE 1=1
        AND SFSWWCBCP = '1'
        <if test="entity.jhbh!=null and entity.jhbh!=''">
            AND JHBH = #{entity.jhbh}
        </if>
        <if test="entity.lbjmc!=null and entity.lbjmc!=''">
            AND LBJMC LIKE "%"#{entity.lbjmc}"%"
        </if>
        <if test="entity.lbjth!=null and entity.lbjth!=''">
            AND LBJTH LIKE "%"#{entity.lbjth}"%"
        </if>
    </select>

</mapper>