<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.scgl.mapper.ScglGydlbzMapper" >
    <select id="ajaxGydlbzList" resultType="cn.jeeweb.modules.scgl.dto.GydlbzDTO">
		SELECT ID,
		LJID,
		(SELECT LJMC FROM T_SCJHGL_LJGL WHERE ID = T.LJID) LJMC,
		GYDLID,
		GYDLMC,
		PX
		FROM T_SCGL_GYDLBZ T
		WHERE T.LJID = #{entity.ljid}
		ORDER BY T.PX
    </select>

</mapper>