<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.scgl.mapper.ScglRcrwfpMapper" >
    <select id="getYgsj" resultType="cn.jeeweb.modules.scgl.dto.YgsjDTO">
SELECT T.ID YGID,
       T.NAME XM,
       T1.ZWID ZW,
       T.GENDER XB
FROM T_GRGL T,
     t_grgl_xzzwfp T1
WHERE 1=1
      AND T.ID = T1.YGID
      AND T1.ZWID IN('数控','数控领班','钳工','钳工领班','车工','铣工')
ORDER BY T1.ZWID DESC
    </select>

    <select id="ajaxRcrwfpList" resultType="cn.jeeweb.modules.scgl.entity.ScglRcrwfp">
        SELECT *
        FROM T_SCGL_RCRWFP
        WHERE RQ = #{RQ}
        ORDER BY ZW DESC
    </select>

    <select id="getRgpgJcxx" resultType="cn.jeeweb.modules.scgl.dto.RgpgJcxxDTO">
SELECT T.ID,
			 T.ZW,
			 T.XM,
       T.RQ,
			 T1.GSMC,
			 T1.GS,
			 T1.JB,
			 T3.SBMC,
			 T8.HTBH JHBH,
			 T7.LJMC,
			 T6.GYDLMC,
			 T5.GYXLMC,
			 T4.YWCL
FROM T_SCGL_RCRWFP T,
		 T_SCGL_RCRWFP_RG_GS T1,
		 T_SCGL_RCRWFP_RG_SB T2,
		 T_SBGL_SBGL T3,
		 T_SCGL_RCRWFP_RG_RW T4,
		 T_SCGL_LJGYBZ T5,
		 T_SCGL_GYDLBZ T6,
		 T_SCJHGL_LJGL T7,
		 T_SCJHGL_HTGL T8
WHERE 1=1
      AND T.ID = T1.RCRWFPID
			AND T.ID = T2.RCRWFPID
      AND T2.SBID = T3.ID
			AND T4.FPSBID = T2.ID
			AND T4.LJGYBZID = T5.ID
			AND T5.GYDLBZID = T6.ID
			AND T6.LJID = T7.ID
			AND T7.HTID = T8.ID
			AND T.RQ = #{RQ}
ORDER BY T.ZW,T.XM,T3.SBMC,T8.HTBH,T7.LJMC,T6.GYDLMC,T5.GYXLMC
    </select>

    <select id="getRgpgd" resultType="cn.jeeweb.modules.scgl.dto.RgpgdDTO">
        SELECT T.ID,
			 T.ZW,
			 T.XM,
       T.RQ,
			 T1.GSMC,
			 T1.GS,
			 T1.JB
FROM T_SCGL_RCRWFP T,
		 T_SCGL_RCRWFP_RG_GS T1
WHERE 1=1
      AND T.ID = T1.RCRWFPID
      AND T.RQ = #{RQ}
ORDER BY T.ZW,T.XM


    </select>

</mapper>