<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.scgl.mapper.ScglLjgybzMapper" >
    <select id="ajaxGyxlbzList" resultType="cn.jeeweb.modules.scgl.dto.GyxlbzDTO">
        select * from
t_scgl_ljgybz t
where t.gydlbzid = #{gydlbzid}
ORDER BY px
    </select>

    <select id="getLjgybzByLjid" resultType="cn.jeeweb.modules.scgl.entity.ScglLjgybz">
        SELECT T.*
FROM T_SCGL_LJGYBZ T,
     T_SCGL_GYDLBZ T1,
		 T_SCJHGL_LJGL T2,
		 T_SCJHGL_HTGL T3
WHERE 1=1
		 AND T.GYDLBZID = T1.ID
		 AND T1.LJID = T2.ID
		 AND T2.HTID = T3.ID
		 AND T2.ID = #{ljid}
    </select>
</mapper>