<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.scjhgl.mapper.ScjhglBzjglMapper" >
    <select id="ajaxBzjList" resultType="cn.jeeweb.modules.scjhgl.entity.ScjhglBzjgl">
        SELECT ID,
        (SELECT HTBH FROM T_SCJHGL_HTGL T1 WHERE T1.ID = T.HTID) HTID,
        (SELECT DLMC FROM t_ckgl_ckfl_dl T2 WHERE T2.ID = T.FLDL) FLDL,
        FLXL,
        GG,
        DW,
        SL,
        RKSL,
        DYL
        FROM T_SCJHGL_BZJGL T
        WHERE 1=1
        <if test="entity.htid!=null and entity.htid!=''">
            AND T.HTID = #{entity.htid}
        </if>
        <if test="entity.n!=null and entity.n!=''">
            AND T.N = #{entity.n}
        </if>
        <if test="entity.y!=null and entity.y!=''">
            AND T.Y = #{entity.y}
        </if>
        <if test="entity.r!=null and entity.r!=''">
            AND T.R = #{entity.r}
        </if>
        <if test="entity.rksl!=null and entity.rksl!=''">
            AND T.RKSL = #{entity.rksl}
        </if>
        <if test="entity.gg!=null and entity.gg!=''">
            AND T.GG LIKE "%"#{entity.gg}"%"
        </if>
        ORDER BY T.RQ DESC
        <!--AND T.SFSBJ = '0'-->
        <!--<if test="pxfs==1">-->
            <!--ORDER BY T.HTID,T.LJTH-->
        <!--</if>-->
        <!--<if test="pxfs==2">-->
            <!--ORDER BY T.RQ DESC-->
        <!--</if>-->

    </select>

    <select id="exportBzj" resultType="cn.jeeweb.modules.scjhgl.entity.ScjhglBzjgl">
        SELECT ID,
        (SELECT HTBH FROM T_SCJHGL_HTGL T1 WHERE T1.ID = T.HTID) HTID,
        (SELECT DLMC FROM t_ckgl_ckfl_dl T2 WHERE T2.ID = T.FLDL) FLDL,
        FLXL,
        GG,
        DW,
        SL
        FROM T_SCJHGL_BZJGL T
        WHERE 1=1
        <if test="entity.htid!=null and entity.htid!=''">
            AND T.HTID = #{entity.htid}
        </if>
            ORDER BY T.RQ DESC

    </select>

</mapper>