<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.scjhgl.mapper.ScjhglLjglMapper" >
    <select id="ajaxljglList" resultType="cn.jeeweb.modules.scjhgl.entity.ScjhglLjgl">
         SELECT ID,
			 (SELECT HTBH FROM T_SCJHGL_HTGL T1 WHERE T1.ID = T.HTID) HTID,
			 LJTH,
			 LJMC,
			 DYL,
			 WRKSL,
			 SL,
		     SYSL
FROM T_SCJHGL_LJGL T
WHERE 1=1
		<if test="entity.htid!=null and entity.htid!=''">
			AND T.HTID = #{entity.htid}
		</if>
		<if test="entity.ljth!=null and entity.ljth!=''">
			AND T.LJTH = #{entity.ljth}
		</if>
		AND T.SFSBJ = '0'
ORDER BY T.HTID
    </select>

	<select id="ajaxlbjglList" resultType="cn.jeeweb.modules.scjhgl.entity.ScjhglLjgl">
		SELECT ID,
		(SELECT HTBH FROM T_SCJHGL_HTGL T1 WHERE T1.ID = T.HTID) HTID,
		LJTH,
		LJMC,
		DYL,
		SL,
		WRKSL,
		SYSL
		FROM T_SCJHGL_LJGL T
		WHERE 1=1
		<if test="entity.htid!=null and entity.htid!=''">
			AND T.HTID = #{entity.htid}
		</if>
		<if test="entity.ljth!=null and entity.ljth!=''">
			AND T.LJTH = #{entity.ljth}
		</if>
		ORDER BY T.HTID
	</select>

	<select id="cxLj" resultType="cn.jeeweb.modules.scgl.dto.SsxDTO">
		SELECT T3.ID JHID,
		T2.ID LJID,
		T2.LJMC
		FROM T_SCGL_LJGYBZ T,
		T_SCGL_GYDLBZ T1,
		T_SCJHGL_LJGL T2,
		T_SCJHGL_HTGL T3
		WHERE 1=1
		AND T.GYDLBZID = T1.ID
		AND T1.LJID = T2.ID
		AND T2.HTID = T3.ID
		<if test="jhid!=null and jhid!=''">
			AND T2.HTID = #{jhid}
		</if>
		GROUP BY LJID

	</select>

</mapper>