<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.sbgl.mapper.SbglMapper" >
    <select id="ajaxListSbgl" resultType="cn.jeeweb.modules.sbgl.entity.SbglSbzy">
		SELECT SS.ID,SS.SBBH,SS.SBMC,SS.SSDL,SS.ZT,SS.RQ,CASE
		WHEN SS.SFKY = '1' THEN ''
		WHEN SS.SFKY = '0' THEN '已占用'
		END AS SFKY FROM(
		SELECT T.ID,
		T.RQ,
		T.SBBH,
		T.SBMC,
		T.SSDL SSDLDM,
		(SELECT FLMC FROM T_SBGL_SBFLGL T1 WHERE T.SSDL = T1.ID) SSDL,
		T.SFKY,
		T.ZT
		FROM T_SBGL_SBZY T

		)SS
		WHERE 1=1
		<if test="entity.ssdl!=null and entity.ssdl!=''">
			AND SS.SSDLDM = #{entity.ssdl}
		</if>
		<if test="entity.sbmc!=null and entity.sbmc!=''">
			AND SS.SBMC = #{entity.sbmc}
		</if>
		<if test="entity.rq!=null and entity.rq!=''">
			AND SS.RQ = #{entity.rq}
		</if>
		<if test="addSb!=null and addSb!=''">
			AND SS.ZT = '1'
		</if>

		ORDER BY SS.SBBH
    </select>

	<select id="ajaxListSbgl2" resultType="cn.jeeweb.modules.sbgl.entity.Sbgl">
		SELECT SS.ID,SS.SBBH,SS.SBMC,SS.SSDL,SS.ZT FROM(
		SELECT T.ID,
		T.SBBH,
		T.SBMC,
		T.SSDL SSDLDM,
		(SELECT FLMC FROM T_SBGL_SBFLGL T1 WHERE T.SSDL = T1.ID) SSDL,
		T.SFKY,
		T.ZT
		FROM T_SBGL_SBGL T

		)SS
		WHERE 1=1
		<if test="entity.ssdl!=null and entity.ssdl!=''">
			AND SS.SSDLDM = #{entity.ssdl}
		</if>
		<if test="entity.sbmc!=null and entity.sbmc!=''">
			AND SS.SBMC = #{entity.sbmc}
		</if>
		<if test="addSb!=null and addSb!=''">
			AND SS.ZT = '1'
		</if>

		ORDER BY SS.SBBH
	</select>

</mapper>