<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.ckgl.mapper.CkglCpCkjlMapper" >

    <select id="ajaxCpxqList" resultType="cn.jeeweb.modules.ckgl.entity.CkglCpCkjl">
        SELECT * FROM T_CKGL_CP_CKJL
        WHERE 1=1
        <if test="entity.rq!=null and entity.rq!=''">
            AND RQ = #{entity.rq}
        </if>
        <if test="entity.lbjth!=null and entity.lbjth!=''">
            AND LBJTH LIKE "%"#{entity.lbjth}"%"
        </if>
        <if test="entity.lbjmc!=null and entity.lbjmc!=''">
            AND LBJMC LIKE "%"#{entity.lbjmc}"%"
        </if>
    </select>

</mapper>